.chat-container {
    width: calc(58vw);
    border-radius: 3px;
    margin: 10px auto;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.44);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    border: 1px solid #bdbdbd;
}

.chat-users {
    background: #f7f7f7;
    flex: 25%;
    border-right: 1px solid #bdbdbd;
    overflow-y: auto;
}

.user-container {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    display: flex;
    padding-left: 8%;
    align-items: center;
}

.user-icon {
    height: 42px;
}

.collection {
    margin: 0;
}

.collection .collection-item.avatar {
    min-height: 65px;
    padding: 0;
}

.title {
    width: 70%;
    overflow-wrap: break-word;
    padding-left: 8%;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 75%;
}

.chat-body-container {
    overflow-y: auto;
    flex: 100%;
    background-color: #eae3dd;
}

.chat-body {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
}

.chat-background {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23d1d1d1' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23c4c4c4'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
}

.chat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    min-height: 55px;
    max-height: 150px;
    background: #f5f1ee;
    border-top: 1px solid #80808040;
}

.chat-footer button {
    width: 13%;
}

.chat-footer textarea {
    width: 80%;
    max-height: 88px;
    flex: 1;
    background: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0 10px;
    border: 1px solid #dadada;
}

.chat-footer textarea:focus {
    border-bottom: 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    border: 1px solid #dadada;
}

.chat-footer textarea::placeholder {
    color: rgba(128, 128, 128, 0.692);
}

.chat-header {
    background: #f5f5f5;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #80808040;
    position: relative;
}

.chat-header .chat-title {
    font-size: 30px;
}

.message {
    display: flex;
}

.message:last-child {
    padding-bottom: 10px;
}

.message:not(.continuation) {
    display: flex;
    padding-top: 10px;
}

.message.continuation {
    padding-top: 5px;
}

.message-in + .message-out {
    padding-top: 10px;
}

.bubble {
    padding: 6px 0 8px 0;
    padding-left: 9px;
    padding-right: 7px;
    max-width: 64%;
    min-width: 110px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
    word-wrap: break-word;
    position: relative;
}

.message-in > .bubble {
    background: white;
}

.message-out > .bubble {
    background: rgb(118, 255, 164);
}

.message-server > .bubble {
    background: rgba(225,245,254,0.92);
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #262626;
}

.message.message-in {
    justify-content: flex-start;
}

.message.message-out {
    justify-content: flex-end;
}

.message.message-server {
    justify-content: center;
}

.time-space {
    width: 30px;
}

.message-time {
    color: #757575;
    font-size: 11px;
    position: relative;
    bottom: -7px;
    float: right;
    margin-left: 5px;
    font-family: sans-serif;
}

.message-text {
    font-family: "Open Sans",sans-serif;
    font-size: 13.6px;
    line-height: 19px;
    color: #262626;
}

.message-name {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 22px;
}

.message-text-area {
    padding: 0;
    margin: 0;
    overflow-y: inherit;
    height: 22px;
    min-height: 0;
}

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2)
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.08)
}

.menu-button {
    position: absolute;
    left: 15px;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.mobile-menu {
    position: absolute;
    width: 200px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f7f7f7;
    border-right: 1px solid #e2e2e2;
    transform: translatex(-200px);
    transition: ease 500ms;
}

.mobile-menu.open {
    transform: translatex(0);
}

@media (max-width: 840px){
    .chat-container {
        width: calc(85vw);
    }
}


@media (max-width: 768px){

    .menu-button {
        display: inherit;
    }

    .chat-users {
        display: none;
    }

    .chat-container {
        height: 100vh;
        width: 100vw;
        border: 0;
        margin: 0;
    }

    .message-text-area {
        height: 25px;
    }

    .chat-footer textarea {
        font-size: 16px;
        min-height: 24px;
    }

    .message-text {
        font-size: 16px;
    }

    .chat-body-container, .chat-users {
        -webkit-overflow-scrolling: touch;
    }
}