<div class="chat-background">
  <div class="chat-container">
    <div class="chat-header">
      <span class="chat-title">Chat In</span>
    </div>
    <div #bodyContainer class="chat-body-container">
      <div class="chat-body">
        <div class="message" *ngFor="let chatMessage of chatMessages; let i = index" [ngClass]="{'message-in': chatMessage.external, 'message-out': !chatMessage.external, 'message-server': chatMessage.server, 'continuation': chatMessage.continuation}">
          <div class="bubble">
            <span *ngIf="!chatMessage.server && chatMessage.external && !chatMessage.continuation" class="message-name">{{ chatMessage.name }}</span>
            <span *ngIf="!chatMessage.server" class="message-text">{{ chatMessage.msg }}</span>
            <span *ngIf="chatMessage.server">{{ chatMessage.msg }}</span>
            <span class="time-space"></span>
            <span *ngIf="!chatMessage.server" class="message-time">{{ chatMessage.time }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-footer">
      <textarea placeholder="Type a message" [(ngModel)]="messageText" id="messageText" (keydown.enter)="sendMessage($event);" (change)="resizeTextArea()" class="materialize-textarea message-text-area"></textarea>
      <a (click)="sendMessage()" class="btn-floating btn-small waves-effect waves-light">
        <i class="material-icons">send</i>
      </a>
    </div>
  </div>
</div>