.chat-container {
    height: calc(100vh - 20px);
    width: calc(50vw);
    border-radius: 3px;
    margin: 10px auto;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.44);
}

.chat-body-container {
    overflow-y: auto;
    max-height: calc(100vh - 70px);
    background-color: rgba(229, 221, 213, 0.81);
}

.chat-body {
    min-height: calc(100vh - 70px);
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-footer button {
    width: 13%;
    /* height: 20px; */
}

.chat-footer input {
    width: 80%;
}

.chat-footer div.input-text {
    display: inline-block;
    border: solid 1px rgba(99, 99, 99, 0.65);
    width: 80%;
}

.message {
    display: flex;
    padding-bottom: 5px;
}

.bubble {
    padding: 6px 0 8px 0;
    padding-left: 9px;
    padding-right: 7px;
    max-width: 64%;
    min-width: 110px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
    word-wrap: break-word;
}

.message-in > .bubble {
    background: white;
}

.message-out > .bubble {
    background: rgb(118, 255, 164);
}

.message-server > .bubble {
    background: rgba(225,245,254,0.92);
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #262626;
}

.message.message-in {
    justify-content: flex-start;
}

.message.message-out {
    justify-content: flex-end;
}

.message.message-server {
    justify-content: center;
}

.message-text {
    font-family: "Open Sans",sans-serif;
    font-size: 13.6px;
    line-height: 19px;
    color: #262626;
}

.message-name {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 22px;
}

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2)
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.08)
}


@media (max-width: 768px){

    .chat-container {
        height: 100vh;
        width: 100vw;
        border: 0;
        margin: 0;
    }

    .chat-footer button {
        height: 24px;
    }

    .chat-footer input {
        font-size: 16px;
    }

    .chat-footer div.input-text {
        font-size: 16px;
    }

    .message-text {
        font-size: 16px;
    }

}