<div class="chat-container">
    <div #bodyContainer class="chat-body-container">
        <div class="chat-body">
            <div class="message" *ngFor="let chatMessage of chatMessages; let i = index" [ngClass]="{'message-in': chatMessage.external, 'message-out': !chatMessage.external, 'message-server': chatMessage.server, 'continuation': chatMessage.continuation}">
                <div class="bubble">
                    <span *ngIf="!chatMessage.server && chatMessage.external && !chatMessage.continuation" class="message-name">{{ chatMessage.name }}</span>
                    <span *ngIf="!chatMessage.server" class="message-text">{{ chatMessage.msg }}</span>
                    <span *ngIf="chatMessage.server">{{ chatMessage.msg }}</span>
                    <span class="time-space"></span>
                    <span *ngIf="!chatMessage.server" class="message-time">{{ chatMessage.time }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <textarea [(ngModel)]="messageText" id="messageText" (keyup.enter)="sendMessage()" (change)="resizeTextArea()" class="materialize-textarea message-text-area"></textarea>
        <!-- <input [(ngModel)]="messageText" (keyup.enter)="sendMessage()" type="text" name="message" id="message"> -->
        <!-- <button (click)="sendMessage()">Send</button> -->
        <a (click)="sendMessage()" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">send</i></a>
        <!-- <button (click)="sendMessage()" class="btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons right">send</i>
        </button> -->
    </div>
</div>
