
<div class="cotainer center-align">
    <div class="card-panel grey lighten-5 ">
        <div class="row">
            <div><img src="../assets/logo/chat-in.png"></div>
        </div>
        <div class="row center">
            <input class="center" [(ngModel)]="path" placeholder="your custom path here"/>
        </div>
        <div class="center">
            <button [disabled]="!path" class="btn-large waves-effect waves-light orange" (click)="goToPath()">Send</button>
        </div>
    </div>
</div>
<footer>
    <div class="footer center">
        <div class="footer-copyright white lighten-5 ">
            &copy; 2019 Copyright <b>Gigio</b>
        </div>
    </div>
</footer>