
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
  }

  body.margin {
      padding: 30px;
  }
  
  main {
    flex: 1 0 auto;
  }

  img {
    width: 90px;
    height: 80px;
  }

  input {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 15px;
    box-sizing: inherit;
    width: 350px;    
  }